<div class="about">
	<div class="pbanner-about">
		<div class="ptitle">
			<h1>About</h1>
		</div>
	</div>

	<div class="wrapper">
		<h2>My name is Maggie and I am a recent graduate seeking work in UX/UI design and digital marketing.</h2>

		<p>Few things excite me like the union of function, form, and empathy; Nothing captivates me like balancing the three to solve people-centric problems.</p>

		<img class="right-insert" src="#"></img>

		<h3>Merging Theory &amp; Practise for Empathetic Design</h3>

		<p>With a double-major in Psychology and Cognitive Science plus three years' experience in integrated marketing, I've enjoyed exploring both the <b>theory</b> of how human cognition functions and the <b>practise</b> of designing user experiences that are fluent, fresh, and immediately relevant.</p>

		<h3>Soft Skills</h3>

		<p>Experiences in nonprofit management and fundraising have helped me hone soft skills in <b>negotiation</b> and <b>project management</b>; while forays into theatre and poetry have given me insight in <b>public speaking</b> and <b>reading emotion</b>.</p>

		<h2>Now, I'm looking for my next adventure; I'm looking for a people-centred problem and a team that enjoys solving them.</h2>

	</div>

	<!-- Embed Footer -->
	<div ng-include="'app/shared/footer/footer.html'">
	</div>
</div>