<div class="case-studies">
	<div class="pbanner-case">
		<div class="ptitle">
			<h1>Case Studies</h1>
		</div>
	</div>

	<div class="wrapper">
		<h2><em>Modus Operandi</em></h2>

		<p>How I operate:</p>

		<ol>
			<li><b>Formulate</b> Stakeholder Goals</li>
			<li><b>Research</b> User's Cognition</li>
			<li><b>SPT:</b> Strategize, Prototype, Test</li>
			<li><b>Convergence</b> between Stakeholder &amp; User Needs</li>
		</ol>

		<h2>Dr. Olga's No. 1 Homeopathic Cure</h2>

		<h3>Thursday, May 28, 2016</h3>

		<h5>Posted by Adam Adamson</h5>

		<h6>"This miracle cure really got rid of my warts!"</h6>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla lectus erat, in fringilla nisi iaculis eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies, tortor eget pharetra tincidunt, eros metus rutrum nulla, vel cursus sem felis a mi. Phasellus faucibus eleifend augue ac rutrum. Sed dictum sollicitudin sem, ac pharetra lorem elementum at. Etiam at tempor erat. Nullam in sapien viverra, tempus risus sed, aliquam lectus. Morbi lorem massa, tristique eget efficitur nec, sagittis vitae quam. Cras posuere velit ac feugiat rhoncus. Ut at dignissim nibh.</p>

		<ol>
			<li>List Item 1</li>
			<li>List Item 2</li>
			<li>Blah blah
			<ol>
				<li>Sublist Item</li>
			</ol></li>
		</ol>

	</div>
</div>