<div class="jumbotron text-center">
	<h1>Case Studies</h1>
	
	<p>{{ message }}</p>

</div>

<!-- <div class="col-md-8">
	<h3 class="quote">
		"Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue."
	</h3>
</div>

<div class="col-md-4">
<i class="fa fa-comment" style="font-size: 250px; color: lightblue;"></i>
</div> -->

<div class="col-sm-12">
	<div class="col-sm-7">
		<div class="">
	</div>

	<div class="col-sm-4">
		
	</div>
</div>