<div class="home">
	<div class="flex-column">
		<div class="hero"></div>

		<div class="greeting"></div>

		<div class="summary">
			<div class="sum-item">
				<h3 class="sum-cat">TESTING</h3>

				<div class="sum-description">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>

			<div class="sum-item">
				<h3 class="sum-cat">TESTING</h3>
			</div>

			<div class="sum-item">
				<h3 class="sum-cat">TESTING</h3>
			</div>

			<div class="sum-item">
				<h3 class="sum-cat">TESTING</h3>
			</div>
		</div>
	</div>
</div>