<div class="home">
	<div class="flex-column home-content">
		<div class="hero">
			<div class="greeting">
				<div class="text">
					<span class="hello">Hello. </span><br>
					<span class="goodbye">My name is <b>Maggie Cheung</b> and I am a <b>Digital Designer</b>.</span>
				</div>
			</div>
		</div>

		<div class="summary row">
			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
				<h3 class="sum-cat"><i class="fa fa-magic sum-icon"></i> &nbsp;&nbsp;SKILLS</h3>

				<div class="sum-description">
					<ul>
						<li>UX/UI Design</li>
						<li>Web Development</li>
						<li>Social Media</li>
						<li>Graphic &amp; Print Design</li>
						<li>Search Engine Optimization</li>
					</ul>
				</div>
			</div>

			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
				<h3 class="sum-cat"><i class="fa fa-wrench sum-icon"></i> &nbsp;&nbsp;TOOLS</h3>

				<div class="sum-description">
					<ul>
						<li>HTML, CSS, &amp; SCSS</li>
						<li>Javascript &amp; JQuery</li>
						<li>Adobe Creative Suite</li>
						<li>Axure, InVision &amp; Sketch</li>
						<li>WordPress, Ghost.io</li>
						<li>Qualtrics</li>
					</ul>
				</div>

			</div>

			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
				<h3 class="sum-cat"><i class="fa fa-lightbulb-o sum-icon"></i> &nbsp;&nbsp;EXPERIENCE</h3>

				<div class="sum-description">
					<p>In the past 5 years:</p>

					<ul>
						<li>Web Design</li>
						<li>Package Design</li>
						<li>Content Marketing</li>
						<li>Sponsorship</li>
						<li>Nonprofit Management</li>
					</ul>
				</div>
			</div>

			<div class="sum-item col-lg-3 col-md-6 col-sm-12">
				<h3 class="sum-cat"><i class="fa fa-mortar-board sum-icon"></i> &nbsp;&nbsp;EDUCATION</h3>

				<div class="sum-description">
					<p><b>University of Toronto, 2017:</b><br/>
					Honours Bachelor of Science<br/>
					Psychology &amp; Cognitive Science<br/>
					<em>Computer Science Minor</em></p>
				</div>
			</div>
		</div>

		<div class="sum-cta row">
			<a href="about.html" class="readmore h3_sm col-lg-3 col-md-6 col-sm-12">About &raquo;</a>
			<a href="portfolio.html" class="readmore h3_sm col-lg-3 col-md-6 col-sm-12">Portfolio &raquo;</a>
			<a href="case-studies.html" class="readmore h3_sm col-lg-3 col-md-6 col-sm-12">Case Studies &raquo;</a>
			<a href="#" class="readmore h3_sm col-lg-3 col-md-6 col-sm-12" target="_blank">Download Resume <i class="fa fa-download"></i></a>
		</div>
	</div>

	<!-- Embed Footer -->
	<!-- <div class="home-footer" ng-include="'app/shared/footer/footer.html'">	
	</div> -->
</div>