//////////////////////////////////////////////////////////////////
//                                                               /
//                        #  INDEX  #                            /
//                                                               /
//////////////////////////////////////////////////////////////////
//
//
//// SECTIONS 0: Variables & Formulae //////////////////////
//
//   Section 0.1 --- Colour Variables
//
//   Section 0.2 --- UI Variables
//
//   Section 0.3 --- Typography Variables
//
//
//// SECTIONS 1: Global Structure //////////////////////
//
//
//   Section 1.1 --- Typography
//
//   Section 1.2 --- Structural Elements
//
//   Section 1.3 --- Links & UI
//
//   Section 1.4 --- Header & Footer
//
//   Section 1.5 --- Navbar
//
//   Section 1.6 --- Theming
//
//
//// SECTIONS 2: Views //////////////////////
//
//
//   Section 2.1 --- Home
//
//   Section 2.2 --- About
//
//   Section 2.3 --- Portfolio
//
//   Section 2.4 --- Testimonials
//
//   Section 2.5 --- Contact
//
//
//////////////////////////////////////



//// SECTIONS 0: Imports & Variables //////////////////////

/* 0.1 
////// Colour Variables
=================================== */
/* Primary Palette */
$primary: #7D0125; //Wine
$secondary: #0E2622; //Teal
$primary-dark: #270C1B; //Evening Rose
$secondary-dark: #060B0C; //Dark Teal
$lighter: #D89DAC; //Dusty Pink
$grey: #666; //Grey
$light-grey: #DDD;
$grad: linear-gradient($secondary-dark, $secondary);
//Opacity 70%

/* Links */
$link: $primary;
$link_h: $primary-dark;
$link_h_light: $lighter;

//
/* 0.2 
////// UI Variables
=================================== */

/* Media Queries */
$medium: 1200px;
$small: 991px;
$xsmall: 400px;

/* Animation Mixins */
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transition($str) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};      
}

//
/* 0.3 
////// Typography Variables
=================================== */

/* Font Weights */
$extralight: 200;
$light: 400;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900;

/* Font Families */
$main-font: 'Source Sans Pro', Helvetica, sans serif;

//
/* 0.4
////// Theming Variables
=================================== */

/* Hero Background Image */
$floral_hero: url(../img/hero/floral_hero.jpg);

/* Page Banners */
$page_heroes: about portfolio case contact;

//// SECTIONS 1: Global Structure //////////////////////
//
/* 1.1 
////// Typography
=================================== */

html, p, h1, h2, h3, h4, h5, h6, li, a {
	font-family: $main-font;
}

/* Headings */
p {
	font-weight: $regular;
	font-size: 1em;
	letter-spacing: 0.6px;
	line-height: 1.5;
	padding-bottom: 1em;
	color: black;
	.content {
		padding-left: 20%;
	}
}

b {
	font-weight: $bold;
}

em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

h1 {
	font-weight: $extralight;
	font-size: 4em;
	letter-spacing: 1.2px;
	line-height: 1.2;
	padding-top: 1.2em;
	padding-bottom: 0.5em;
}

h2 {
	font-weight: $light;
	font-size: 1.5em;
	letter-spacing: 1.2px;
	line-height: 1.4;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h3 { // For subheadings
	font-weight: $black;
	font-size: 1em;
	letter-spacing: 1.5px;
	line-height: 2;
	text-transform: uppercase;
	padding-bottom: 0.5em;
}

.h3_sm { // Smaller version of h3, for Call-To-Action links
	@extend h3;
	font-size: 0.9em;
}

h4 { // For navbar links
	font-weight: $extralight;
	font-size: 24px;
	letter-spacing: 1.2px;
	line-height: 1.2;
	text-transform: uppercase;
}

.h4_a {
	@extend h4;
	font-weight: $semibold;
	font-size: 1em;
}

h5 { // For meta-data
	font-weight: $regular;
	font-size: 0.9em;
	letter-spacing: 1.5px;
	line-height: 1.2;
	text-transform: uppercase;
	padding-bottom: 0.5em;
}

h6 { // For quotes
	font-weight: $bold;
	font-size: 1em;
	letter-spacing: 1.2px;
	line-height: 1.2;
	font-style: italic;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 30px;
}

/* Lists */
ul, ol {
	padding-bottom: 1em;
	margin-left: 20px;
	line-height: 1.5;
}

ul li {
	@extend p;
	padding-bottom: 0.2em;
	list-style: disc inside;
}

ol li {
	@extend p;
	padding-bottom: 0.2em;
	list-style: decimal inside;
}

li ul li {
	list-style: circle inside;
}

li ol li {
	list-style: lower-alpha inside;
}

/* Typesetting Tools */
hr {
	border-bottom: $secondary 1px solid;
	height: auto;
	width: 80%;
}


//
/* 1.2 
////// Structural Elements
=================================== */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	// margin-bottom: 90px;
}

//Overall Wrapper on index.html, including header/footer
#main {
	display: flex;
	flex-direction: column;
}

//Page injectable content
.page {
	flex: 1;
	margin-bottom: 5rem;
}

//Within-page, for text, to set left/right margins
.wrapper {	
	margin-left: 64px;
	padding-top: 2rem;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 3rem;
}

//Auxiliary flex class
.flex-column {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

//Left image insert
.left-insert {
	background: $grey;
	width: 400px;
	height: 200px;
	display: inline-block;
	position: relative;
	left: -84px;
	float: left;
	margin: 1rem -34px 1rem 0;
	@media screen and (max-width: $small) {
		width: 120%;
		left: 20px;
		margin-left: 0;
		margin-right: 0;
	}
}

//Right image insert
.right-insert {
	background: $grey;
	width: 400px;
	height: 200px;
	display: inline-block;
	position: relative;
	right: -20px;
	float: right;
	margin: 1rem 0 1rem 1rem;
	@media screen and (max-width: $small) {
		width: 120%;
		left: 20px;
		margin-left: 0;
		margin-right: 0;
	}
}


//
/* 1.3 
////// Links & UI
=================================== */
a {
	font-weight: $bold;
	color: $link;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: $link_h;
	text-decoration: none;
	@include transition(all 0.4s ease-in-out)
}

button {
	border: none;
	background: none;
	padding: 0.8rem 2rem 0.8rem 2rem;
	//Type
	@extend h5;
	font-weight: $bold;
}

button {
	//Clear default, assign padding, typography
	border: none;
	background: none;
	padding: 1rem 2rem 1rem 2rem;
	//Type
	@extend h5;
	font-weight: $bold;
}

.readmore {
	text-align: right;
}

//
/* 1.4
////// Header & Footer
=================================== */

/* Header */

.header {
	height: 58px;
	width: 58px;
	background: $primary-dark;
	border-bottom: solid 6px $primary;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	&:hover {
		background: $primary;
	}
	@media screen and (max-width: $small) {
		width: 100%;
	}
}

.logo-container {
	width: 48px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 10px;
}

.logo {
	display: inline-block;
	height: 38px;
}

/* Footer */
footer {
	// Layout
	height: 64px;
	width: 100%;
	background: $light-grey;
	border-top: 1px solid $lighter;
	// Positioning
	position: absolute;
	left: 0;
	bottom: 0;
	// Structure
	display: flex;
	padding-left: 94px;
	padding-top: 1rem;
	padding-right: 30px;
	// Typography
	color: black;
	font-size: 0.8rem;
	font-weight: $regular;
	letter-spacing: 1.2px;
	line-height: 1.5;
	@media screen and (max-width: $xsmall) {
		padding-left: 20%;
		padding-right: 5%;
		height: 90px;
	}
}

.copyright {
	flex: 2;
}

.footer-nav {
	flex: 1.5;
	text-align: right;
	a {
	font-weight: $bold;
	color: $link;
	}

	a:hover, a:focus {
	color: $link_h;
	text-decoration: none;
	}
	@media screen and (max-width: $xsmall) {
		flex: 2
	}

	.social-l{
		display: none;
		background: $primary-dark;
		position: absolute;
		right: -5px;
		top: -28px;
		height: 20px;
		padding: 2px 10px 2px 10px;
		border-radius: 3px;
		//Type
		font-size: 0.9em;
		font-weight: $regular;
		color: white;
		&:after {
			width: 0; 
			height: 0;
			content: "";
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
		  	border-top: 4px solid $primary-dark;
			position: absolute;
		  	right: 10%;
		  	top: 100%;
		}
	}

	.social {
		position: relative;
		&:hover >.social-l {
			display: block;
		}
	}
}

//
/* 1.5 
////// Navbar
=================================== */
nav ul, nav ul li {
	list-style: none;
	padding: none;
}

nav {	
	// Layout
	background: $secondary-dark;
	// Structure
	width: 58px;
	height: 100%;
	padding: 34px 0 0;
	margin: 0;
	z-index: 10;
	// Position
	position: fixed;
	margin-top: 58px;
	left: 0;
	@media screen and (max-width: $small) {
		width: 100%;
		height: 58px;
		margin-top: 0;
		position: fixed;
		bottom: 0;
		padding-top: 0;
		li {
			width: 58px;
			display: inline-block;
			flex: 1;
			padding: 0;
		}
	}

	// Icons
	.icon {
		height: 48px;
		width: 100%;
		padding: 10px 0 10px;
		text-align: center;
		margin: 0 auto;
		@media screen and (max-width: $small) {
			width: 100%;
			height: 60px;
			padding-bottom: 0;
		} 
	}

	// Ribbons
	.ribbon {
		@extend h4;
		display: block;
		padding: 10px 0 10px 20px;
		width: 250px;
		position: absolute;
		top: 0;
		left: -206px;
		z-index: -1;
		background: $secondary;
		text-align: left;
		@include transition(all 0.4s ease);
		&:hover {
			left: 48px;
			background: $secondary;
		}
		&:hover +.icon {
			background: $secondary;
		}
		@media screen and (max-width: $small) {
			display: none;
		} 
	}

	ul {
		height: auto;
		width: 100%;
		padding: 0;
		margin: 0;
		@media screen and (max-width: $small) {
			height: 60px;
			margin: 0 auto;
			display: flex;
		} 
	}

	// Button & Typeface
	li a, .icon, .ribbon {
		height: 48px;
		background: $secondary-dark;
		color: white;
		@extend h4;
		&:hover, &:active {
			background: $secondary;
			color: white;
		}
		&:hover +.ribbon {
			left: 48px;
			background: $secondary;
		}
		@include transition(all 0.4s ease);
		@media screen and (max-width: $small) {
			height: 60px;
		}
	}

	.mobile-label {
		font-size: 0.8rem;
		font-weight: $extralight;
		padding: none;
		margin: none;
		color: white;
		display: none;
		margin-top: -20px;
		text-align: center;
		@media screen and (max-width: $small) {
			display: block;
		}
	} 
}

//
/* 1.6 
////// Theming
=================================== */
// Hero Banner
.hero {
	// Structural
	width: 100%;
	flex: 1 1 15rem;
	position: relative;
	// For Greeting Within (Center Align)
	display: flex;
	flex-direction: column;
	align-items: center;
	// Background
	background: $floral_hero center center;
	background-size: cover;
	&:before {
		position: absolute;
		top: 0;
		content: "";
		width: 100%;
		height: 90%;
		background: $grad;
		opacity: 0.5;
	}
	@media screen and (max-width: $small) {
		flex: 1 1 18rem;
	}
}

//Page banner
@each $page in $page_heroes {
	.pbanner-#{$page} {
		width: 100%;
		height: 20rem;
		position: relative;
		// Background
		background: url("../img/hero/#{$page}_hero.jpg");
		background-size: cover;
		//Font
		color: white;
		&:before {
			position: absolute;
			top: 0;
			content: "";
			width: 100%;
			height: 90%;
			background: $grad;
			opacity: 0.5;
		}
	}
}

//Page Title
.ptitle {
	position: absolute;
	bottom: 10%;
	text-align: center;
	margin-left: 64px;
	padding-left: 20px;
	padding-right: 20px;
	h1 {
		padding: 0;
	}
}


//// SECTIONS 2: Views //////////////////////
//
/* 2.1 
////// Home
=================================== */
// Page Container
.home {
	height: 100%;
	width: 100%;
}

// Hero Greeting Overlay
.greeting {
	// Positioning
	display: block;
	flex: 1 1 15rem;
	// Z-Axis Positioning
	z-index: 9;
	// Text & Padding
	color: white;
	// Sizing (important for mobile)
	box-sizing: border-box;
	// Text Positioning & Style
	position: relative;
	width: 50%;
	.hello {
		font-size: 4rem;
		font-weight: $extralight;
	}
	.goodbye {
		font-size: 1.5rem;
		font-weight: $extralight;
	}
	.text {
		position: absolute;
		line-height: 1.2;
		bottom: 25%;
	}
	@media screen and (max-width: $medium) {
		width: 80%;
		padding-left: 15%;
		.text {
			bottom: 25%;
		}
	}
	@media screen and (max-width: $small) {
		width: 90%;
		padding-left: 20%;
		.hello {
			font-size: 3rem;
		}
		.goodbye {
			font-size: 1.5rem;
		}
		.text {
			bottom: 20%;
		}
	}
}

// Summary Tiles
.summary {
	// Structural
	width: 100%;
	flex: 0 1;
	//For footer: margin-bottom: 90px;
	// background: orange;
	padding-left: 52px;
	padding-top: 2.5rem;
	// Text
	color: $secondary-dark;
	@media screen and (max-width: $small) {
		padding-left: 20%;
	}
}

.sum-icon {
 	font-size: 1.5rem;
 	color: $primary;
}

.sum-item {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	line-height: 1.3;
	padding-left: 5%;
	position: relative;
	ul {
		padding-left: 0.5rem;
	}
	@media screen and (max-width: $medium) {
		margin-bottom: 2rem;
		padding-left: 10%;
	}
	@media screen and (max-width: $small) {
		padding-left: 5%;
	}
}

.sum-cat {
	color: $secondary-dark;
	margin-bottom: 1rem;
	height: auto;
}

.sum-cta {
	width: 100%;
	flex: 0 0 auto;
	padding-top: 2%;
	padding-bottom: 2%;
	box-sizing: border-box;
	@media screen and (max-width: $small) {
		display: none;
	}
}

//Spacer for content
.home-content {
	margin-bottom: 3rem;
}

// Footer to replace CTA
.home-footer {
	@media screen and (min-width: $medium) {
		display: none;
	}
}

//
/* 2.2 
////// About
=================================== */
.pbanner-about {
	background-position: 20% 10%;
}

//
/* 2.3 
////// Portfolio
=================================== */
.pbanner-portfolio {
	background-position: 0 60%;
}

/* Mix-It-UP */
// Categories
.port-cat {
	// Button styling
	background: white;
	border: 1px solid $primary;
	// Button spacing
	margin-top: 1rem;
	margin-bottom: 2rem;
	// Text styling
	text-align: center;
	color: $primary;
	&:hover {
		background: $primary;
		color: white;
		@include transition(all 0.4s ease);
	}
}


//
/* 2.4 
////// Testimonials
=================================== */


//
/* 2.5 
////// Contact
=================================== */